@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth;
}

* {
  font-family: "DM sans", sans-serif;
}

.weight-regular {
  font-weight: 400;
}
.weight-medium {
  font-weight: 500;
}
.weight-bold {
  font-weight: 700;
}